.buttons{
    margin-left: 220px;
    margin-bottom: 5px;
}

.adopt-btn{
    margin-right: 100px;
}
.details{
    margin-left: 180px;
}
.cards{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
}