@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2px;
  font-style: normal;
}


#gen-btn {
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: #000;
  background-color:transparent;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#gen-btn:hover {
  background-color: #ff80ab;
  box-shadow: 0px 10px 15px rgba(223, 101, 217, 0.733);
  color: #070000;
  transform: translateY(-7px);
}

#gen-btn:active {
  transform: translateY(-1px);
}

/* Dropdown */

.paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  

  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #2196F3; /* New background color */
    border: 2px solid #4CAF50;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a {
    color: #4CAF50;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: #4CAF50;
    color: #212121;
  }
  
  .dropdown-content a:focus {
    background-color: #212121;
    color: #4CAF50;
  }
  
  
  .paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
  }
  
  .paste-button:hover .dropdown-content {
    display: block;
  }
  


  
